body {
  background: #ffff;
  width: 1000px;
  height: 1350px;
}

main {
  height: 1000px;
  width: 1000px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

img {
  display: block;
  width: 45%;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.lista_bio {
  margin-top: 20px;
  list-style-type: none;
  padding: 0px;
}

.quem {
  margin-bottom: 30px;
}

.casa {
  display: flex;
  border: 1px solid #343434;
  border-radius: 4px;
  background: #f7f7f7;
  padding: 10px 30px;
  justify-content: center;
  margin-left: 220px;
  margin-right: 220px;
}

.nomes_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.nomes_grid {
  margin-bottom: 30px;
}

.pedro {
  padding: 10px;
  margin: 10px;
  border: 1px yellow solid;
  border-radius: 5px;
  background: #ffff;
}

.giovane {
  padding: 10px;
  margin: 10px;
  border: 1px palevioletred solid;
  border-radius: 5px;
  background: #ffff;
}

.anajulia {
  padding: 10px;
  margin: 10px;
  border: 1px rebeccapurple solid;
  border-radius: 5px;
  background: #ffff;
}

.mateus {
  padding: 10px;
  margin: 10px;
  border: 1px darkblue solid;
  border-radius: 5px;
  background: #ffff;
}

.juan {
  padding: 10px;
  margin: 10px;
  border: 1px peru solid;
  border-radius: 5px;
  background: #ffff;
}

.professora {
  padding: 10px;
  border: 1px violet solid;
  border-radius: 5px;
  background: #ffff;
  margin-left: 325px;
}

.mikael {
  padding: 10px;
  margin: 10px;
  border: 1px greenyellow solid;
  border-radius: 5px;
  background: #ffff;
}

.edu {
  padding: 10px;
  margin: 10px;
  border: 1px orangered solid;
  border-radius: 5px;
  background: #ffff;
}

.informação {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #343434;
  border-radius: 5px;
  padding: 0px;
}

.estado_home:hover {
  border: 2px solid #800000;
  border-radius: 4px;
}
.link-bio-1 {
  border: 2px solid transparent;
  color: #800000;
}

.link-bio-1:hover {
  border: 2px solid #800000;
  border-radius: 4px;
}

.home {
  display: grid;
  border: 1px solid transparent;
  padding: 15px 20px;
  background: #ffff;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.home2 {
  border: 1px solid transparent;
  padding: 15px 20px;
  border-radius: 3px;
  background: #f7f7f7;
}

.home2:hover {
  border: 1px solid black;
  border-radius: 2px;
  color: black;
}

.home:hover {
  border: 1px solid black;
  border-radius: 2px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  height: 3000px;
  width: 700px;
  justify-content: center;
  align-items: top;
}

.container {
  background: darkblue;
  border: 1px solid #343434;
  border-radius: 3px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
}

.container2 {
  height: 2300px;
  width: 700px;
  justify-content: center;
  align-items: top;
}

.container2 {
  background: darkblue;
  border: 1px solid #343434;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 45px;
}

.header_bio {
  margin: 30px 30px;
  padding: 45px;
  border-radius: 3px;
  background: #f7f7f7;
}

.div_home2 {
  margin-left: 30px;
}

.div_main_nomes {
  display: grid;
  background: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #343434;
  margin: 30px 30px;
}

.quem {
  background: #ffff;
  border-radius: 3px;
  border: 1px solid #343434;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.informação {
  background: #ffff;
  padding: 5px;
  margin-top: 25px;
}

.informação_prof {
  display: grid;
  justify-content: left;
  align-items: left;
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 4px;
  background: #ffff;
  padding: 5px;
}

.p_link {
  margin: 0px;
  padding: 0px;
}

.somos {
  position: relative;
  background: white;
  right: 70px;
}

.bio {
  position: relative;
  background: white;
  left: 50px;
}

.casa {
  background: white;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
}

.div_home2 {
  margin-bottom: 150px;
}

.header_bio {
  margin-top: 150px;
}

.div_main_nomes {
  margin-top: 150px;
}

